* {
    margin: 0;
}

.container {
    height: 100px;
    width: 100%;
    background-color: rgb(59, 77, 100);
    position: fixed;
    z-index: 10;
}

ul {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    margin: 25px 20px;
    
}

ul li a {
    text-decoration: none;
    background-color: chocolate;
    color: white;
    padding: 10px 10px;
    display: inline-block;
    width: 120px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

ul li ul {
    display: none;
    
}

ul li ul li {
    float: none;
    margin: 0;
}

ul li:hover > ul{
    display: block;
}

ul li ul li ul {
    margin-left: 141px;
    margin-top: -41px;
}

a:hover {
    color: chocolate;
    background-color: #fff;
    border: 1px solid chocolate;
}

main {
    padding-top: 100px;
}

h1 {
    position: sticky;
    top: 100px;
    background-color: rgb(216, 194, 179);
    color: rgb(59, 77, 100);
    margin: 0px;
    padding: 10px;
    font-size: 28px;
}

p {
    padding: 10px;
}